#game-container{    
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, minmax(150px, auto));
    grid-gap: 10px;
    width: 500px;  
    height: 500px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    border: solid black;
 
}

/* initialize css grid */
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* with flexbox:
    display: flex;
    flex-wrap: wrap;
    */
  }
  
  /* Add border bottom and border right to all items */
  .item {
    padding: 0px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
 
    /* with flexbox:
    width: calc(50% - 21px);
    */
  }
    
  /* Add right border to every second item */
  /* .item:nth-child(odd) {
    border-right: 1px solid black;
  } */

    /* Remove border bottom from last item & from second last if its odd */
  /* .item:last-child, .item:nth-last-child(2):nth-child(odd) {
    border-bottom: none;
  } */